@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply rounded-xl shadow-lg;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Ocultar barras de rolagem mas permitir a rolagem */
html,
body {
  overflow: auto; /* Permite a rolagem */
  height: 100%; /* Garantir que o corpo tenha a altura total */
  margin: 0; /* Remove margens que possam afetar o layout */
}

body::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem em Webkit browsers (Chrome, Safari) */
}

body {
  scrollbar-width: none; /* Oculta a barra de rolagem em Firefox */
  background-color: white;
  border-top: #83e509;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
